#### Import libraries into the project

In [37]:
import pandas as pd
#import tabula as tb
#from tabula import read_pdf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#### Using the pandas read_csv() method, read the US Census dataset into the notebook as a DataFrame. Some rows  of data may be required to be filtered

In [38]:
pop_2000 =pd.read_csv('../data/Population/nst-est2010-01.csv')
pop_2000.head(10)

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Area,Population Estimates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1-Apr-00,NaN
2,NaN,1-Jul-10,1-Jul-09,1-Jul-08,1-Jul-07,1-Jul-06,1-Jul-05,1-Jul-04,1-Jul-03,1-Jul-02,1-Jul-01,1-Jul-00,Estimates Base,Census
3,United States,"309,050,816","306,656,290","304,177,401","301,393,632","298,431,771","295,618,454","292,936,109","290,242,027","287,745,630","285,049,647","282,165,844","281,424,600","281,421,906"
4,Northeast,"55,417,311","55,242,435","55,049,539","54,868,196","54,698,799","54,595,246","54,516,501","54,378,581","54,163,808","53,922,845","53,663,333","53,594,810","53,594,378"
5,Midwest,"66,972,887","66,770,813","66,572,128","66,344,701","66,066,820","65,801,226","65,586,267","65,335,106","65,069,187","64,807,870","64,491,889","64,396,653","64,392,776"
6,South,"114,404,435","113,185,196","111,929,667","110,479,851","108,852,101","107,332,739","105,804,145","104,353,923","103,151,318","101,856,689","100,559,291","100,234,523","100,236,820"
7,West,"72,256,183","71,457,846","70,626,067","69,700,884","68,814,051","67,889,243","67,029,196","66,174,417","65,361,317","64,462,243","63,451,331","63,198,614","63,197,932"
8,.Alabama,"4,729,656","4,707,496","4,673,889","4,634,063","4,594,911","4,542,912","4,510,588","4,489,876","4,471,462","4,463,343","4,451,497","4,447,207","4,447,100"
9,.Alaska,"708,862","694,690","685,532","679,893","675,322","667,114","659,305","647,671","641,974","633,538","627,748","626,933","626,932"

The pop_2000 df requires several clean up items that will be performed
 - Drop existing Headers containing `Unamed:`
 - Drop Rows Header 0, 1 which contains `Nan` 
 - Drop Rows after the Last listed US state of Wyoming
 - Adding a header to Column 0 on to Row Index 2 of `Geographic Area`
 - After Reviewing of the data columns, Column 12 contains `Estimates Base` and Column 13 `Census` which are factored in Column 11 for the `1-Jul-00` population estimates.
 - Drop Column 12 & 13.

In [39]:
##### header = 3 options takes care of dropping the row headers, nrows filters the number of rows being read into the dataframe
#index_col=[0] removes the index. It will be inserted later when we Rename the column[0]
pop_2000 =pd.read_csv('../data/Population/nst-est2010-01.csv',header=3, nrows=56, index_col=[0])
# Rename the Header for first column
pop_2000.reset_index(inplace=True)
pop_2000.rename(columns={'index':'Geographic Area'}, inplace=True)
#Drop column 12 & 13
pop_2000.drop(pop_2000.iloc[:,12:14], axis =1, inplace=True)


pop_2000

,Geographic Area,1-Jul-10,1-Jul-09,1-Jul-08,1-Jul-07,1-Jul-06,1-Jul-05,1-Jul-04,1-Jul-03,1-Jul-02,1-Jul-01,1-Jul-00
0,United States,"309,050,816","306,656,290","304,177,401","301,393,632","298,431,771","295,618,454","292,936,109","290,242,027","287,745,630","285,049,647","282,165,844"
1,Northeast,"55,417,311","55,242,435","55,049,539","54,868,196","54,698,799","54,595,246","54,516,501","54,378,581","54,163,808","53,922,845","53,663,333"
2,Midwest,"66,972,887","66,770,813","66,572,128","66,344,701","66,066,820","65,801,226","65,586,267","65,335,106","65,069,187","64,807,870","64,491,889"
3,South,"114,404,435","113,185,196","111,929,667","110,479,851","108,852,101","107,332,739","105,804,145","104,353,923","103,151,318","101,856,689","100,559,291"
4,West,"72,256,183","71,457,846","70,626,067","69,700,884","68,814,051","67,889,243","67,029,196","66,174,417","65,361,317","64,462,243","63,451,331"
5,.Alabama,"4,729,656","4,707,496","4,673,889","4,634,063","4,594,911","4,542,912","4,510,588","4,489,876","4,471,462","4,463,343","4,451,497"
6,.Alaska,"708,862","694,690","685,532","679,893","675,322","667,114","659,305","647,671","641,974","633,538","627,748"
7,.Arizona,"6,676,627","6,587,653","6,499,207","6,360,238","6,190,987","5,973,970","5,758,692","5,590,820","5,451,472","5,303,869","5,166,304"
8,.Arkansas,"2,910,236","2,887,331","2,867,099","2,841,595","2,814,910","2,776,257","2,746,215","2,722,804","2,704,471","2,690,743","2,678,115"
9,.California,"37,266,600","36,887,615","36,538,008","36,185,908","35,947,461","35,770,688","35,538,256","35,236,589","34,867,773","34,481,753","33,994,383"
10,.Colorado,"5,095,309","5,015,155","4,928,676","4,837,229","4,747,872","4,655,731","4,595,674","4,545,766","4,502,883","4,432,779","4,328,277"
11,.Connecticut,"3,526,937","3,514,826","3,502,664","3,488,084","3,484,531","3,477,185","3,474,379","3,468,319","3,448,145","3,428,043","3,411,506"
12,.Delaware,"891,464","884,124","876,794","865,314","853,301","840,296","827,154","815,525","804,636","794,954","786,417"
13,.District of Columbia,"610,589","599,975","589,929","585,916","583,841","582,049","579,890","577,844","579,736","578,228","571,776"
14,.Florida,"18,678,049","18,509,936","18,410,241","18,262,096","18,076,361","17,773,291","17,366,358","16,974,177","16,675,166","16,350,988","16,046,148"
15,.Georgia,"9,908,357","9,813,588","9,690,277","9,526,642","9,323,575","9,090,479","8,907,292","8,727,810","8,582,756","8,418,687","8,230,306"
16,.Hawaii,"1,300,086","1,288,285","1,280,001","1,269,796","1,269,228","1,259,147","1,246,872","1,231,632","1,226,410","1,218,790","1,212,396"
17,.Idaho,"1,559,796","1,544,465","1,526,295","1,498,390","1,463,631","1,425,226","1,391,127","1,363,672","1,341,704","1,320,791","1,299,555"
18,.Illinois,"12,944,410","12,893,278","12,836,402","12,775,864","12,714,588","12,672,835","12,644,218","12,599,246","12,557,032","12,506,636","12,437,568"
19,.Indiana,"6,445,295","6,417,276","6,386,601","6,344,771","6,300,341","6,253,142","6,214,844","6,184,552","6,148,648","6,124,090","6,091,517"
20,.Iowa,"3,023,081","3,008,331","2,994,658","2,979,867","2,965,203","2,950,517","2,942,311","2,934,585","2,929,379","2,929,240","2,928,191"
21,.Kansas,"2,841,121","2,817,430","2,795,257","2,773,740","2,754,018","2,739,997","2,729,378","2,720,361","2,711,741","2,701,167","2,692,907"
22,.Kentucky,"4,339,435","4,312,268","4,287,259","4,254,513","4,216,783","4,179,655","4,145,777","4,117,691","4,090,824","4,068,775","4,048,714"
23,.Louisiana,"4,529,426","4,489,490","4,448,806","4,373,448","4,237,693","4,495,113","4,487,246","4,473,198","4,465,089","4,460,400","4,468,970"
24,.Maine,"1,312,939","1,315,889","1,318,133","1,315,749","1,313,479","1,310,424","1,307,227","1,302,365","1,293,181","1,284,295","1,277,040"
25,.Maryland,"5,737,274","5,688,399","5,650,870","5,627,211","5,605,552","5,576,889","5,537,913","5,491,971","5,437,880","5,374,009","5,310,504"
26,.Massachusetts,"6,631,280","6,592,205","6,544,089","6,499,672","6,466,069","6,453,694","6,452,636","6,455,028","6,440,762","6,411,336","6,362,498"
27,.Michigan,"9,931,235","9,955,260","9,999,456","10,051,145","10,082,414","10,092,426","10,091,511","10,072,219","10,039,223","10,005,334","9,954,984"
28,.Minnesota,"5,290,447","5,262,824","5,230,247","5,191,267","5,147,857","5,106,992","5,080,031","5,050,393","5,017,355","4,982,180","4,933,739"
29,.Mississippi,"2,960,467","2,949,943","2,939,234","2,920,312","2,896,691","2,899,300","2,884,920","2,866,386","2,858,076","2,853,090","2,848,433"
30,.Missouri,"6,011,741","5,982,234","5,951,844","5,905,750","5,857,974","5,803,587","5,755,931","5,713,051","5,679,158","5,642,852","5,605,714"
31,.Montana,"980,152","974,163","967,717","957,123","946,059","934,656","925,711","916,620","909,722","905,782","903,305"
32,.Nebraska,"1,811,072","1,794,852","1,780,143","1,768,745","1,759,327","1,750,772","1,741,417","1,733,099","1,724,577","1,717,672","1,713,279"
33,.Nevada,"2,654,751","2,638,588","2,612,460","2,564,816","2,491,122","2,407,073","2,327,547","2,236,378","2,165,828","2,094,338","2,018,196"
34,.New Hampshire,"1,323,531","1,322,181","1,320,981","1,316,496","1,311,184","1,301,050","1,292,566","1,282,146","1,270,962","1,256,685","1,240,385"
35,.New Jersey,"8,732,811","8,693,723","8,657,319","8,630,810","8,619,354","8,619,564","8,610,474","8,585,567","8,543,281","8,488,427","8,430,799"
36,.New Mexico,"2,033,875","2,007,315","1,984,179","1,966,357","1,940,631","1,914,699","1,890,215","1,868,121","1,849,187","1,828,437","1,820,802"
37,.New York,"19,577,730","19,522,612","19,464,482","19,419,540","19,353,588","19,329,398","19,297,907","19,235,015","19,161,568","19,087,486","18,996,959"
38,.North Carolina,"9,458,888","9,357,107","9,230,086","9,047,856","8,853,849","8,655,414","8,517,909","8,399,815","8,311,105","8,202,468","8,080,253"
39,.North Dakota,"653,778","645,903","640,525","637,534","636,019","634,528","635,480","631,680","633,210","636,225","641,298"
40,.Ohio,"11,532,111","11,531,860","11,526,691","11,518,989","11,490,596","11,475,559","11,465,854","11,450,398","11,420,660","11,395,572","11,363,136"
41,.Oklahoma,"3,724,447","3,685,640","3,640,241","3,608,759","3,571,612","3,530,037","3,511,467","3,495,502","3,483,149","3,463,996","3,453,891"
42,.Oregon,"3,855,536","3,823,058","3,780,596","3,730,833","3,675,743","3,617,086","3,573,214","3,551,290","3,516,661","3,469,878","3,430,739"
43,.Pennsylvania,"12,632,780","12,602,112","12,562,536","12,517,701","12,466,485","12,415,908","12,387,357","12,360,988","12,324,237","12,296,977","12,283,881"
44,.Rhode Island,"1,056,870","1,057,451","1,058,368","1,059,706","1,064,193","1,069,226","1,075,835","1,072,453","1,066,919","1,057,707","1,050,607"
45,.South Carolina,"4,596,958","4,554,258","4,497,746","4,417,059","4,334,146","4,250,989","4,196,549","4,141,080","4,102,227","4,062,301","4,024,082"
46,.South Dakota,"820,077","810,814","803,047","795,521","786,973","778,775","773,087","765,980","761,633","758,803","755,707"
47,.Tennessee,"6,338,112","6,291,220","6,239,542","6,172,788","6,090,290","5,997,481","5,918,897","5,856,712","5,802,304","5,754,748","5,703,129"
48,.Texas,"25,213,445","24,770,651","24,290,611","23,824,518","23,356,591","22,790,696","22,408,514","22,048,452","21,705,766","21,330,190","20,944,937"
49,.Utah,"2,830,753","2,780,871","2,724,685","2,662,908","2,582,234","2,498,863","2,438,195","2,378,255","2,334,425","2,290,966","2,244,207"
50,.Vermont,"622,433","621,436","620,967","620,438","619,916","618,797","618,120","616,700","614,753","611,889","609,658"
51,.Virginia,"7,952,119","7,862,480","7,780,691","7,705,466","7,633,859","7,547,753","7,453,994","7,352,164","7,277,452","7,191,579","7,105,425"
52,.Washington,"6,746,199","6,671,597","6,566,085","6,464,167","6,371,097","6,258,988","6,181,646","6,108,738","6,056,348","5,988,346","5,911,439"
53,.West Virginia,"1,825,513","1,821,290","1,816,352","1,812,295","1,808,136","1,804,128","1,803,462","1,802,916","1,799,219","1,798,190","1,806,694"
54,.Wisconsin,"5,668,519","5,650,751","5,627,257","5,601,508","5,571,510","5,542,096","5,512,205","5,479,542","5,446,571","5,408,099","5,373,849"
55,.Wyoming,"547,637","544,391","532,626","523,226","512,664","506,002","502,742","498,865","496,930","492,976","493,980"

In [40]:
pop_2000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  56 non-null     object
 1   1-Jul-10         56 non-null     object
 2   1-Jul-09         56 non-null     object
 3   1-Jul-08         56 non-null     object
 4   1-Jul-07         56 non-null     object
 5   1-Jul-06         56 non-null     object
 6   1-Jul-05         56 non-null     object
 7   1-Jul-04         56 non-null     object
 8   1-Jul-03         56 non-null     object
 9   1-Jul-02         56 non-null     object
 10  1-Jul-01         56 non-null     object
 11  1-Jul-00         56 non-null     object
dtypes: object(12)
memory usage: 5.4+ KB

In [41]:
pop_2000.rename(columns={'1-Jul-10':'pop_2010',
                         '1-Jul-09':'pop_2009',
                         '1-Jul-08':'pop_2008',
                         '1-Jul-07':'pop_2007',
                         '1-Jul-06':'pop_2006',
                         '1-Jul-05':'pop_2005',
                         '1-Jul-04':'pop_2004',
                         '1-Jul-03':'pop_2003',
                         '1-Jul-02':'pop_2002',
                         '1-Jul-01':'pop_2001',
                         '1-Jul-00':'pop_2000'
                        },inplace=True)
pop_2000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  56 non-null     object
 1   pop_2010         56 non-null     object
 2   pop_2009         56 non-null     object
 3   pop_2008         56 non-null     object
 4   pop_2007         56 non-null     object
 5   pop_2006         56 non-null     object
 6   pop_2005         56 non-null     object
 7   pop_2004         56 non-null     object
 8   pop_2003         56 non-null     object
 9   pop_2002         56 non-null     object
 10  pop_2001         56 non-null     object
 11  pop_2000         56 non-null     object
dtypes: object(12)
memory usage: 5.4+ KB

In [42]:
pop_2000.head()

,Geographic Area,pop_2010,pop_2009,pop_2008,pop_2007,pop_2006,pop_2005,pop_2004,pop_2003,pop_2002,pop_2001,pop_2000
0,United States,"309,050,816","306,656,290","304,177,401","301,393,632","298,431,771","295,618,454","292,936,109","290,242,027","287,745,630","285,049,647","282,165,844"
1,Northeast,"55,417,311","55,242,435","55,049,539","54,868,196","54,698,799","54,595,246","54,516,501","54,378,581","54,163,808","53,922,845","53,663,333"
2,Midwest,"66,972,887","66,770,813","66,572,128","66,344,701","66,066,820","65,801,226","65,586,267","65,335,106","65,069,187","64,807,870","64,491,889"
3,South,"114,404,435","113,185,196","111,929,667","110,479,851","108,852,101","107,332,739","105,804,145","104,353,923","103,151,318","101,856,689","100,559,291"
4,West,"72,256,183","71,457,846","70,626,067","69,700,884","68,814,051","67,889,243","67,029,196","66,174,417","65,361,317","64,462,243","63,451,331"

In [43]:
#Change the data type to Integers instead of objects
pop_years = ['pop_2010','pop_2009','pop_2008','pop_2007',
            'pop_2006','pop_2005','pop_2004','pop_2003',
            'pop_2002','pop_2001','pop_2000']
#We go into the dataframe for the above years and drop the , so we can coerse it for int data type
for year in pop_years:
    pop_2000[year]= pop_2000[year].str.replace(',','',regex=False)

# Below line changes all the population data in year columsn to integers
pop_2000[pop_years]=pop_2000[pop_years].apply(pd.to_numeric, errors='coerce', axis=1)

pop_2000.head()

,Geographic Area,pop_2010,pop_2009,pop_2008,pop_2007,pop_2006,pop_2005,pop_2004,pop_2003,pop_2002,pop_2001,pop_2000
0,United States,309050816,306656290,304177401,301393632,298431771,295618454,292936109,290242027,287745630,285049647,282165844
1,Northeast,55417311,55242435,55049539,54868196,54698799,54595246,54516501,54378581,54163808,53922845,53663333
2,Midwest,66972887,66770813,66572128,66344701,66066820,65801226,65586267,65335106,65069187,64807870,64491889
3,South,114404435,113185196,111929667,110479851,108852101,107332739,105804145,104353923,103151318,101856689,100559291
4,West,72256183,71457846,70626067,69700884,68814051,67889243,67029196,66174417,65361317,64462243,63451331

In [44]:
pop_2000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  56 non-null     object
 1   pop_2010         56 non-null     int64
 2   pop_2009         56 non-null     int64
 3   pop_2008         56 non-null     int64
 4   pop_2007         56 non-null     int64
 5   pop_2006         56 non-null     int64
 6   pop_2005         56 non-null     int64
 7   pop_2004         56 non-null     int64
 8   pop_2003         56 non-null     int64
 9   pop_2002         56 non-null     int64
 10  pop_2001         56 non-null     int64
 11  pop_2000         56 non-null     int64
dtypes: int64(11), object(1)
memory usage: 5.4+ KB

In [45]:
# Strip the . in the name of the State
#in the future add the regex statement
pop_2000['Geographic Area']=pop_2000['Geographic Area'].str.replace('.','',regex=False)
pop_2000

,Geographic Area,pop_2010,pop_2009,pop_2008,pop_2007,pop_2006,pop_2005,pop_2004,pop_2003,pop_2002,pop_2001,pop_2000
0,United States,309050816,306656290,304177401,301393632,298431771,295618454,292936109,290242027,287745630,285049647,282165844
1,Northeast,55417311,55242435,55049539,54868196,54698799,54595246,54516501,54378581,54163808,53922845,53663333
2,Midwest,66972887,66770813,66572128,66344701,66066820,65801226,65586267,65335106,65069187,64807870,64491889
3,South,114404435,113185196,111929667,110479851,108852101,107332739,105804145,104353923,103151318,101856689,100559291
4,West,72256183,71457846,70626067,69700884,68814051,67889243,67029196,66174417,65361317,64462243,63451331
5,Alabama,4729656,4707496,4673889,4634063,4594911,4542912,4510588,4489876,4471462,4463343,4451497
6,Alaska,708862,694690,685532,679893,675322,667114,659305,647671,641974,633538,627748
7,Arizona,6676627,6587653,6499207,6360238,6190987,5973970,5758692,5590820,5451472,5303869,5166304
8,Arkansas,2910236,2887331,2867099,2841595,2814910,2776257,2746215,2722804,2704471,2690743,2678115
9,California,37266600,36887615,36538008,36185908,35947461,35770688,35538256,35236589,34867773,34481753,33994383
10,Colorado,5095309,5015155,4928676,4837229,4747872,4655731,4595674,4545766,4502883,4432779,4328277
11,Connecticut,3526937,3514826,3502664,3488084,3484531,3477185,3474379,3468319,3448145,3428043,3411506
12,Delaware,891464,884124,876794,865314,853301,840296,827154,815525,804636,794954,786417
13,District of Columbia,610589,599975,589929,585916,583841,582049,579890,577844,579736,578228,571776
14,Florida,18678049,18509936,18410241,18262096,18076361,17773291,17366358,16974177,16675166,16350988,16046148
15,Georgia,9908357,9813588,9690277,9526642,9323575,9090479,8907292,8727810,8582756,8418687,8230306
16,Hawaii,1300086,1288285,1280001,1269796,1269228,1259147,1246872,1231632,1226410,1218790,1212396
17,Idaho,1559796,1544465,1526295,1498390,1463631,1425226,1391127,1363672,1341704,1320791,1299555
18,Illinois,12944410,12893278,12836402,12775864,12714588,12672835,12644218,12599246,12557032,12506636,12437568
19,Indiana,6445295,6417276,6386601,6344771,6300341,6253142,6214844,6184552,6148648,6124090,6091517
20,Iowa,3023081,3008331,2994658,2979867,2965203,2950517,2942311,2934585,2929379,2929240,2928191
21,Kansas,2841121,2817430,2795257,2773740,2754018,2739997,2729378,2720361,2711741,2701167,2692907
22,Kentucky,4339435,4312268,4287259,4254513,4216783,4179655,4145777,4117691,4090824,4068775,4048714
23,Louisiana,4529426,4489490,4448806,4373448,4237693,4495113,4487246,4473198,4465089,4460400,4468970
24,Maine,1312939,1315889,1318133,1315749,1313479,1310424,1307227,1302365,1293181,1284295,1277040
25,Maryland,5737274,5688399,5650870,5627211,5605552,5576889,5537913,5491971,5437880,5374009,5310504
26,Massachusetts,6631280,6592205,6544089,6499672,6466069,6453694,6452636,6455028,6440762,6411336,6362498
27,Michigan,9931235,9955260,9999456,10051145,10082414,10092426,10091511,10072219,10039223,10005334,9954984
28,Minnesota,5290447,5262824,5230247,5191267,5147857,5106992,5080031,5050393,5017355,4982180,4933739
29,Mississippi,2960467,2949943,2939234,2920312,2896691,2899300,2884920,2866386,2858076,2853090,2848433
30,Missouri,6011741,5982234,5951844,5905750,5857974,5803587,5755931,5713051,5679158,5642852,5605714
31,Montana,980152,974163,967717,957123,946059,934656,925711,916620,909722,905782,903305
32,Nebraska,1811072,1794852,1780143,1768745,1759327,1750772,1741417,1733099,1724577,1717672,1713279
33,Nevada,2654751,2638588,2612460,2564816,2491122,2407073,2327547,2236378,2165828,2094338,2018196
34,New Hampshire,1323531,1322181,1320981,1316496,1311184,1301050,1292566,1282146,1270962,1256685,1240385
35,New Jersey,8732811,8693723,8657319,8630810,8619354,8619564,8610474,8585567,8543281,8488427,8430799
36,New Mexico,2033875,2007315,1984179,1966357,1940631,1914699,1890215,1868121,1849187,1828437,1820802
37,New York,19577730,19522612,19464482,19419540,19353588,19329398,19297907,19235015,19161568,19087486,18996959
38,North Carolina,9458888,9357107,9230086,9047856,8853849,8655414,8517909,8399815,8311105,8202468,8080253
39,North Dakota,653778,645903,640525,637534,636019,634528,635480,631680,633210,636225,641298
40,Ohio,11532111,11531860,11526691,11518989,11490596,11475559,11465854,11450398,11420660,11395572,11363136
41,Oklahoma,3724447,3685640,3640241,3608759,3571612,3530037,3511467,3495502,3483149,3463996,3453891
42,Oregon,3855536,3823058,3780596,3730833,3675743,3617086,3573214,3551290,3516661,3469878,3430739
43,Pennsylvania,12632780,12602112,12562536,12517701,12466485,12415908,12387357,12360988,12324237,12296977,12283881
44,Rhode Island,1056870,1057451,1058368,1059706,1064193,1069226,1075835,1072453,1066919,1057707,1050607
45,South Carolina,4596958,4554258,4497746,4417059,4334146,4250989,4196549,4141080,4102227,4062301,4024082
46,South Dakota,820077,810814,803047,795521,786973,778775,773087,765980,761633,758803,755707
47,Tennessee,6338112,6291220,6239542,6172788,6090290,5997481,5918897,5856712,5802304,5754748,5703129
48,Texas,25213445,24770651,24290611,23824518,23356591,22790696,22408514,22048452,21705766,21330190,20944937
49,Utah,2830753,2780871,2724685,2662908,2582234,2498863,2438195,2378255,2334425,2290966,2244207
50,Vermont,622433,621436,620967,620438,619916,618797,618120,616700,614753,611889,609658
51,Virginia,7952119,7862480,7780691,7705466,7633859,7547753,7453994,7352164,7277452,7191579,7105425
52,Washington,6746199,6671597,6566085,6464167,6371097,6258988,6181646,6108738,6056348,5988346,5911439
53,West Virginia,1825513,1821290,1816352,1812295,1808136,1804128,1803462,1802916,1799219,1798190,1806694
54,Wisconsin,5668519,5650751,5627257,5601508,5571510,5542096,5512205,5479542,5446571,5408099,5373849
55,Wyoming,547637,544391,532626,523226,512664,506002,502742,498865,496930,492976,493980

#### Using the pandas read_csv() method, read the US Census dataset from 2010- 2020 into the notebook as a DataFrame. Some rows  of data may be required to be filtered

In [46]:
##### header = 3 options takes care of dropping the row headers, nrows filters the number of rows being read into the dataframe
#index_col=[0] removes the index. It will be inserted later when we Rename the column[0]
pop_2020 =pd.read_csv('../data/Population/nst-est2019-01.csv', nrows=56)
pop_2020.info()
pop_2020 = pop_2020[['NAME','POPESTIMATE2010','POPESTIMATE2011',
                     'POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014',
                    'POPESTIMATE2015','POPESTIMATE2016','POPESTIMATE2017',
                    'POPESTIMATE2018','POPESTIMATE2019']]
pop_2020

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 67 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SUMLEV             56 non-null     int64
 1   REGION             56 non-null     int64
 2   DIVISION           56 non-null     int64
 3   STATE              56 non-null     int64
 4   NAME               56 non-null     object
 5   ESTIMATESBASE2010  56 non-null     int64
 6   POPESTIMATE2010    56 non-null     int64
 7   POPESTIMATE2011    56 non-null     int64
 8   POPESTIMATE2012    56 non-null     int64
 9   POPESTIMATE2013    56 non-null     int64
 10  POPESTIMATE2014    56 non-null     int64
 11  POPESTIMATE2015    56 non-null     int64
 12  POPESTIMATE2016    56 non-null     int64
 13  POPESTIMATE2017    56 non-null     int64
 14  POPESTIMATE2018    56 non-null     int64
 15  POPESTIMATE2019    56 non-null     int64
 16  NPOPCHG_2010       56 non-null     int64
 17  NPOPCHG_2011       56 non-null     int64
 18  NPOPCHG_2012       56 non-null     int64
 19  NPOPCHG_2013       56 non-null     int64
 20  NPOPCHG_2014       56 non-null     int64
 21  NPOPCHG_2015       56 non-null     int64
 22  NPOPCHG_2016       56 non-null     int64
 23  NPOPCHG_2017       56 non-null     int64
 24  NPOPCHG_2018       56 non-null     int64
 25  NPOPCHG_2019       56 non-null     int64
 26  PPOPCHG_2010       56 non-null     float64
 27  PPOPCHG_2011       56 non-null     float64
 28  PPOPCHG_2012       56 non-null     float64
 29  PPOPCHG_2013       56 non-null     float64
 30  PPOPCHG_2014       56 non-null     float64
 31  PPOPCHG_2015       56 non-null     float64
 32  PPOPCHG_2016       56 non-null     float64
 33  PPOPCHG_2017       56 non-null     float64
 34  PPOPCHG_2018       56 non-null     float64
 35  PPOPCHG_2019       56 non-null     float64
 36  NRANK_ESTBASE2010  56 non-null     object
 37  NRANK_POPEST2010   56 non-null     object
 38  NRANK_POPEST2011   56 non-null     object
 39  NRANK_POPEST2012   56 non-null     object
 40  NRANK_POPEST2013   56 non-null     object
 41  NRANK_POPEST2014   56 non-null     object
 42  NRANK_POPEST2015   56 non-null     object
 43  NRANK_POPEST2016   56 non-null     object
 44  NRANK_POPEST2017   56 non-null     object
 45  NRANK_POPEST2018   56 non-null     object
 46  NRANK_POPEST2019   56 non-null     object
 47  NRANK_NPCHG2010    56 non-null     object
 48  NRANK_NPCHG2011    56 non-null     object
 49  NRANK_NPCHG2012    56 non-null     object
 50  NRANK_NPCHG2013    56 non-null     object
 51  NRANK_NPCHG2014    56 non-null     object
 52  NRANK_NPCHG2015    56 non-null     object
 53  NRANK_NPCHG2016    56 non-null     object
 54  NRANK_NPCHG2017    56 non-null     object
 55  NRANK_NPCHG2018    56 non-null     object
 56  NRANK_NPCHG2019    56 non-null     object
 57  NRANK_PPCHG2010    56 non-null     object
 58  NRANK_PPCHG2011    56 non-null     object
 59  NRANK_PPCHG2012    56 non-null     object
 60  NRANK_PPCHG2013    56 non-null     object
 61  NRANK_PPCHG2014    56 non-null     object
 62  NRANK_PPCHG2015    56 non-null     object
 63  NRANK_PPCHG2016    56 non-null     object
 64  NRANK_PPCHG2017    56 non-null     object
 65  NRANK_PPCHG2018    56 non-null     object
 66  NRANK_PPCHG2019    56 non-null     object
dtypes: float64(10), int64(25), object(32)
memory usage: 29.4+ KB

,NAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,United States,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523
1,Northeast Region,55380134,55604223,55775216,55901806,56006011,56034684,56042330,56059240,56046620,55982803
2,Midwest Region,66974416,67157800,67336743,67560379,67745167,67860583,67987540,68126781,68236628,68329004
3,South Region,114866680,116006522,117241208,118364400,119624037,120997341,122351760,123542189,124569433,125580448
4,West Region,72100436,72788329,73477823,74167130,74925793,75742555,76559681,77257329,77834820,78347268
5,Alabama,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
6,Alaska,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
7,Arizona,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
8,Arkansas,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
9,California,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
10,Colorado,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
11,Connecticut,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
12,Delaware,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764
13,District of Columbia,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
14,Florida,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
15,Georgia,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
16,Hawaii,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
17,Idaho,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
18,Illinois,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
19,Indiana,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
20,Iowa,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070
21,Kansas,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314
22,Kentucky,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673
23,Louisiana,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794
24,Maine,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212
25,Maryland,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680
26,Massachusetts,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
27,Michigan,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857
28,Minnesota,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
29,Mississippi,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
30,Missouri,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
31,Montana,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778
32,Nebraska,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408
33,Nevada,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156
34,New Hampshire,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
35,New Jersey,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
36,New Mexico,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
37,New York,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
38,North Carolina,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
39,North Dakota,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
40,Ohio,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
41,Oklahoma,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971
42,Oregon,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737
43,Pennsylvania,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
44,Rhode Island,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
45,South Carolina,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
46,South Dakota,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
47,Tennessee,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174
48,Texas,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881
49,Utah,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
50,Vermont,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989
51,Virginia,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519
52,Washington,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893
53,West Virginia,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
54,Wisconsin,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
55,Wyoming,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759

In [47]:
# Select the relative columns required for the purposes of this project
pop_2020.columns = ['Geographic Area','pop_2010','pop_2011','pop_2012',
                              'pop_2013','pop_2014','pop_2015','pop_2016,','pop_2017',
                              'pop_2018','pop_2019']
pop_2020

,Geographic Area,pop_2010,pop_2011,pop_2012,pop_2013,pop_2014,pop_2015,"pop_2016,",pop_2017,pop_2018,pop_2019
0,United States,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523
1,Northeast Region,55380134,55604223,55775216,55901806,56006011,56034684,56042330,56059240,56046620,55982803
2,Midwest Region,66974416,67157800,67336743,67560379,67745167,67860583,67987540,68126781,68236628,68329004
3,South Region,114866680,116006522,117241208,118364400,119624037,120997341,122351760,123542189,124569433,125580448
4,West Region,72100436,72788329,73477823,74167130,74925793,75742555,76559681,77257329,77834820,78347268
5,Alabama,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
6,Alaska,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
7,Arizona,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
8,Arkansas,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
9,California,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
10,Colorado,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
11,Connecticut,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
12,Delaware,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764
13,District of Columbia,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
14,Florida,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
15,Georgia,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
16,Hawaii,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
17,Idaho,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
18,Illinois,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
19,Indiana,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
20,Iowa,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070
21,Kansas,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314
22,Kentucky,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673
23,Louisiana,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794
24,Maine,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212
25,Maryland,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680
26,Massachusetts,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
27,Michigan,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857
28,Minnesota,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
29,Mississippi,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
30,Missouri,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
31,Montana,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778
32,Nebraska,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408
33,Nevada,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156
34,New Hampshire,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
35,New Jersey,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
36,New Mexico,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
37,New York,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
38,North Carolina,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
39,North Dakota,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
40,Ohio,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
41,Oklahoma,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971
42,Oregon,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737
43,Pennsylvania,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
44,Rhode Island,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
45,South Carolina,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
46,South Dakota,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
47,Tennessee,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174
48,Texas,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881
49,Utah,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
50,Vermont,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989
51,Virginia,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519
52,Washington,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893
53,West Virginia,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
54,Wisconsin,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
55,Wyoming,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759

### Read in the Insurance Coverage Population

#### Import Uninsured information by State

In [63]:
unins_df1 = pd.read_excel('..\data\Insurance\Insurance 2009 to 2019.xlsx',skiprows = 1, sheet_name = 1)
#skiprows = 1,,header=[0, 1], ,
unins_df1.head()

,Unnamed: 0,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,United States,29639000,28566000,28019000,27304000,29758000,36670000,45181000,45615000,46376000,47208000,45665000,43503000
1,Alabama,469000,481000,449000,435000,484000,579000,645000,632000,674000,687000,637000,609000
2,Alaska,86000,90000,98000,101000,106000,122000,132000,145000,141000,137000,143000,126000
3,Arizona,809000,750000,695000,681000,728000,903000,1118000,1131000,1095000,1065000,1127000,1154000
4,Arkansas,271000,244000,232000,232000,278000,343000,465000,476000,492000,501000,483000,480000

In [66]:
unins_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  52 non-null     object
 1   2019        52 non-null     int64
 2   2018        52 non-null     int64
 3   2017        52 non-null     int64
 4   2016        52 non-null     int64
 5   2015        52 non-null     int64
 6   2014        52 non-null     int64
 7   2013        52 non-null     int64
 8   2012        52 non-null     int64
 9   2011        52 non-null     int64
 10  2010        52 non-null     int64
 11  2009        52 non-null     int64
 12  2008        52 non-null     int64
dtypes: int64(12), object(1)
memory usage: 5.4+ KB

#### Import Privately insured information by State

In [64]:
private_ins_df1 = pd.read_excel('..\data\Insurance\Insurance 2009 to 2019.xlsx',skiprows = 1, sheet_name = 2)
private_ins_df1.head()

,Unnamed: 0,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,United States,217812000,217623000,216952000,215859000,213514000,208333000,202391000,201213000,199871000,200269000,203300000,207786000
1,Alabama,3228000,3202000,3205000,3249000,3198000,3132000,3080000,3088000,3061000,3075000,3097000,3170000
2,Alaska,457000,460000,453000,483000,478000,467000,464000,446000,440000,446000,438000,447000
3,Arizona,4490000,4421000,4352000,4246000,4222000,4050000,3904000,3822000,3771000,3811000,3975000,4036000
4,Arkansas,1757000,1787000,1807000,1820000,1793000,1761000,1689000,1699000,1688000,1686000,1697000,1697000

In [67]:
private_ins_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  52 non-null     object
 1   2019        52 non-null     int64
 2   2018        52 non-null     int64
 3   2017        52 non-null     int64
 4   2016        52 non-null     int64
 5   2015        52 non-null     int64
 6   2014        52 non-null     int64
 7   2013        52 non-null     int64
 8   2012        52 non-null     int64
 9   2011        52 non-null     int64
 10  2010        52 non-null     int64
 11  2009        52 non-null     int64
 12  2008        52 non-null     int64
dtypes: int64(12), object(1)
memory usage: 5.4+ KB

#### Import Public insured information by State

In [65]:
public_ins_df1 = pd.read_excel('..\data\Insurance\Insurance 2009 to 2019.xlsx',skiprows = 1, sheet_name = 3)
public_ins_df1.head()

,Unnamed: 0,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,United States,114315000,114750000,113720000,112688000,109874000,104228000,98173000,96136000,93418000,90375000,85956000,81431000
1,Alabama,1797000,1790000,1812000,1762000,1752000,1694000,1655000,1642000,1562000,1528000,1466000,1401000
2,Alaska,248000,247000,248000,211000,205000,191000,183000,182000,177000,163000,154000,145000
3,Arizona,2750000,2776000,2705000,2711000,2586000,2427000,2242000,2199000,2221000,2158000,2121000,1963000
4,Arkansas,1303000,1307000,1309000,1269000,1231000,1171000,1101000,1055000,1056000,1031000,1006000,985000

In [68]:
public_ins_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  52 non-null     object
 1   2019        52 non-null     int64
 2   2018        52 non-null     int64
 3   2017        52 non-null     int64
 4   2016        52 non-null     int64
 5   2015        52 non-null     int64
 6   2014        52 non-null     int64
 7   2013        52 non-null     int64
 8   2012        52 non-null     int64
 9   2011        52 non-null     int64
 10  2010        52 non-null     int64
 11  2009        52 non-null     int64
 12  2008        52 non-null     int64
dtypes: int64(12), object(1)
memory usage: 5.4+ KB